<div class="container section">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <a href="/1">
                        <strong>John Smith 1</strong>
                        <small>@johnsmith</small>
                        <small>31m</small>
                    </a>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque
                    tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque
                    tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                    <br> <a href="/1">Read more</a>
                </p>
            </div>
        </div>
    </article>
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <a href="/2">
                        <strong>John Smith 2</strong>
                        <small>@johnsmith</small>
                        <small>31m</small>
                    </a>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque
                    tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque
                    tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                    <br> <a href="/2">Read more</a>
                </p>
            </div>
        </div>
    </article>
</div>